.gallery{
    padding: 80px 0;
}
.gallery h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
}
.gallery span{
    color: #0e594a;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0 0 0;
    margin: 40px;
    gap: 45px;
}
.grid img{
    width: 400px;
    height: 300px;
    border: 2px solid rgb(125, 121, 121);
    border-radius: 5px;
    box-shadow: 5px 10px 15px 0px  rgb(0, 0, 0,0.5);
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
.grid img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

