.section{
    padding: 70px 0;
}

.section h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
}


.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; 
}


.section h1 span{
    color: #0e594a;
    margin: 0 0 0 15px;
    font-family:'Lucida Sans', sans-serif;
}
.menu-card{
    
    
    padding: 10px 0 0 0;
    margin: 0 0 20px 80px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    border-radius: 10px;
    background-color: #fff;
    width: 370px;
    height: 590px;
}
.menu-image{
    padding: 20px ;
}
.menu-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.menu-image:hover img{
    transform: scale(1.1);

}