.section{
    padding: 70px 0;
}
.section h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
}
.menu-categories h1{
  margin:15px 0 20px 40px;
  cursor: pointer;
  justify-content: start;
  font-size: 35px;
  color: #0e594a;
  padding-bottom: 10px;
  border-bottom: 3px solid #0e594a;
  display: inline-block;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.section h1 span{
    color: #0e594a;
    margin: 0 0 0 15px;
    font-family:'Lucida Sans', sans-serif;
}
.menu-card{
    padding: 10px 0 0 0;
    margin: 0 40px 20px 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    border-radius: 10px;
    background-color: #f7f3f3;
    width: 370px;
    height: 590px;
}
.menu-image{
    padding: 20px ;
}
.menu-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.menu-image:hover img{
    transform: scale(1.1);

}
.card{
    
    height: 45px;
    position: relative;
    top: -345px;
    left: 325px;
}
.card i:hover{
    color: rgb(209, 64, 64);
}
.menuName h2{
    text-align: center;
    margin: -35px 0 0 0;
    font-size: 25px;
    color: #0e594a;
}
.menuName h3{
    text-align: center;
    margin: 15px;
}
.menu-icon{
    text-align: center;
    margin: 10px 0 20px 0;
    color: #0e594a;
}