
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/*Navbar*/
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  height: 80px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.navbarLogo{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #0e594a;
}

.navbarLogo h1{
padding-top: 10px;
  
}
.navbarLogo img{
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.menu-items {
  display: flex;
  margin-right: 300px;
  margin-top: 50px;
  gap: 130px;
}
.menu-items li {
  list-style: none;
  margin:  0 1.5rem 1.5rem 0 ;
  font-size: 1.2rem;
}
.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  
}
.menu-items a:hover {
  color: #0e594a;
}



