
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url(/images/home1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*Navbar*/
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  height: 80px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  top: 0;          
  left: 0; 
  z-index: 999;      
}
.navbarLogo{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #0e594a;
}

.navbarLogo h1{
padding-top: 10px;
  
}
.navbarLogo img{
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.menu-items {
  display: flex;
  margin-right: 100px;
  margin-top: 50px;
  gap: 130px;
}
.menu-items li {
  list-style: none;
  margin:  0 1.5rem 1.5rem 0 ;
  font-size: 1.2rem;
}
.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  
}
.menu-items a:hover {
  color: #0e594a;
}
.menu img{
    margin: 5px 30px 0 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.close{
  margin: 5px 30px 0 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #aaa;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  /* padding: 20px;
  transition: right 0.3s ease;  */

}
.sidebar li{
  width: 100%;
  list-style: none;
  margin-top: 30px;
}
.sidebar a{
  width: 100%;
  text-decoration: none;
  color: #444;
  font-size: 18px;
}

.menu-button{
  display: none;
}

@media (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block; 
  }
} 

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}



