body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
/*Navbar*/
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  height: 80px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  top: 0;          
  left: 0; 
  z-index: 999;      
}
.navbarLogo{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #0e594a;
}

.navbarLogo h1{
padding-top: 10px;
  
}
.navbarLogo img{
    width: 80px;
    height: 80px;
    margin-top: 15px;
    cursor: pointer;
}

.menu-items {
  display: flex;
  margin-right: 100px;
  margin-top: 50px;
  gap: 40px;
}
.menu-items li {
  list-style: none;
  margin:  0 24px 24px 0 ;
  font-size: 19.2px;
}
.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  
}
.menu-items a:hover {
  color: #0e594a;
}

.menu img{
    margin: 5px 30px 0 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.close{
  margin: 5px 30px 0 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}


.sidebar{
  position: fixed;
  top: 65px;
  right: 0;
  height: 335px;
  width: 170px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #aaa;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 12px;
  margin: 16px 0 0 0;
}
.sidebar li{
  width: 100%;
  list-style: none;
  margin-top: 30px;
}
.sidebar a{
  width: 100%;
  text-decoration: none;
  color: #444;
  font-size: 18px;
}

.menu-button{
  display: none;
}


/*Home*/
.hero-section {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  height: 85vh;
  background-image: url(/images/home.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.381);
  background-blend-mode: multiply;
}

.hero-section a{
  text-decoration: none;
  padding: 17px 23px;
  background-color: #0e594a;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.hero-section a:hover {
  background-color: #4CAF50;
  color: white;
}
.hero-section h2{
  font-size: 70px;
  margin: 0;
  color: #0e594a;
}
.hero-section p{
  color: #fff;
  font-size: 20px;
}
/*footer*/
.footer {
  background-color: #fff;
  color: #0e594a;
  padding: 60px 0 0 0;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.footerH {
  color: #0e594a;
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
}

.footerH::after {
  background-color: #0e594a; 
}

.footer-section p {
  font-size: 15px;
  color: #060606;
}

.links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition:0.5s ;
}

.links a:hover {
  background-color: #0e594a;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #333;
  margin-top: 30px; 
  margin-bottom: 0;
  background-color: #0e594a;
  bottom: 0;
  padding-bottom:1px ;
}
.footer-bottom p {
  color: #fff;
  font-size: 17px;
  padding-bottom:0px ;
}

/*Section Menu*/

.section-day{
  background-color: #fff;
}
.section-day h1{
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 45px;
  color: #0e594a;
}
.section-day a{
  text-decoration: none;
  padding: 17px 35px;
  background-color: #0e594a;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.section-day a:hover{
  background-color: #4CAF50;
  color: white;
}

/*gallery*/
.gallery-item{
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 65vh;
  background-image: url(/images/Gallery1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.381);
  background-blend-mode: multiply;
  margin: 40px 0 0 0 ;
}
.gallery-item h1{
  color: #fff;
}



@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block; 
  }


} 

@media (max-width: 400px) {

  .navbarLogo img{
    width: 50px;
    height: 50px;
  }
  .navbarLogo h1{
    font-size: 24px;
  }
  .sidebar {
    width: 100%;
  }
  
  .menu-items{
    gap: 10px;
  }
.hero-section {
  height: 60vh;
    padding: 40px 20px;
    background-size: cover; 
    background-position: center ; 
  }
}






